/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/storage/logs/laravel.log
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
/public/js/app.js
/public/css/app.css
package-lock.json
/storage/logs
/public/js/server.js
/public/js/server1.js
/public/js/serverWorked.js
/public/js/serverSocketIo.js